html, body {
	height: 100%;
}
#hero {
	height: 90%;
}
h1 {
	text-transform: uppercase;
	z-index: 10;
}
.center {
	text-align: center;
}
.img-responsive {
	max-width: 100%;
}
#vinyl {
	z-index: -10;
}
.red {
	color: #f1404b;
}
.footer {
	background-color: #252c41;
	padding-top: 40px;
	padding-bottom: 40px;
}

/* Card */
.card-image {
  display: block;
  position: relative; }
  .card-image img {
    display: block; }
  .card-image.is-square img, .card-image.is-4x3 img, .card-image.is-3x2 img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%; }
  .card-image.is-square {
    padding-top: 100%; }
  .card-image.is-4x3 {
    padding-top: 75%; }
  .card-image.is-3x2 {
    padding-top: 66.6666%; }

.card-content {
  padding: 20px; }
  .card-content .title + .subtitle {
    margin-top: -20px; }

.card-footer {
  background: #fff;
  display: block;
  padding: 10px; }

.card {
  background: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  position: relative;
  width: 300px; }
  .card .media:not(:last-child) {
    margin-bottom: 10px; }
  .card.is-rounded {
    border-radius: 5px; }
.card figure {
	margin: 0;
}
.image {
  display: block;
  position: relative; }
  .image img {
    display: block; }
  .image.is-square img, .image.is-1by1 img, .image.is-4by3 img, .image.is-3by2 img, .image.is-16by9 img, .image.is-2by1 img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%; }
  .image.is-square, .image.is-1by1 {
    padding-top: 100%; }
  .image.is-4by3 {
    padding-top: 75%; }
  .image.is-3by2 {
    padding-top: 66.6666%; }
  .image.is-16by9 {
    padding-top: 56.25%; }
  .image.is-2by1 {
    padding-top: 50%; }
  .image.is-16x16 {
    height: 16px;
    width: 16px; }
  .image.is-24x24 {
    height: 24px;
    width: 24px; }
  .image.is-32x32 {
    height: 32px;
    width: 32px; }
  .image.is-48x48 {
    height: 48px;
    width: 48px; }
  .image.is-64x64 {
    height: 64px;
    width: 64px; }
  .image.is-96x96 {
    height: 96px;
    width: 96px; }
  .image.is-128x128 {
    height: 128px;
    width: 128px; }