html, body {
	height: 100%;
}
#hero {
	height: 90%;
}
h1 {
	text-transform: uppercase;
	z-index: 10;
}
.center {
	text-align: center;
}
.img-responsive {
	max-width: 100%;
}
#vinyl {
	z-index: -10;
}
.red {
	color: #f1404b;
}